<?xml version="1.0"?>

<model>
  <name>Drone</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rafael Casado</name>
    <email>rafael.casado@uclm.es</email>
  </author>

  <description>
    2016-10-08    reducción de tamaño para adaptarse a la competición ESII Drone Challenge
    2015-11-07    Ajuste de posicion de rotores para simplificar la dinamica
    2015-10-17    Integración de todos los elementos en un solo link
    2015-09-25    Adicion de patas/motores
    2015-09-10    Refinamiento de masas e inercias
    2015-08-15    Versión inicial
  </description>

</model>
